/*!*******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/page-sale-18197321-muscle-gaining-lose-stubborn-belly-fat-sr-9011-steroid-raw-powder-sr9011-sarms-for-muscle-growth-cas/page.css ***!
  \*******************************************************************************************************************************************************************************************************************************/
/*.col {*/
/*  align-self: center;*/
/*  height: 100%;*/
/*}*/
.row .display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col'] {
  flex-grow: 0;
}
.col .card .card-title {
  font-size: 0.98rem;
  font-weight: bold;
}
.col .card {
  height: 100%;
  /*background-color: lightgrey;*/
}
.show-more {
  cursor: pointer;
}

