/*!*******************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/page-sale-15388497-2446-23-3-oral-anabolic-steroids-turinabol-powder-bodybuilding-semi-finished/page.css ***!
  \*******************************************************************************************************************************************************************************************************/
/*.col {*/
/*  align-self: center;*/
/*  height: 100%;*/
/*}*/
.row .display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col'] {
  flex-grow: 0;
}
.col .card .card-title {
  font-size: 0.98rem;
  font-weight: bold;
}
.col .card {
  height: 100%;
  /*background-color: lightgrey;*/
}
.show-more {
  cursor: pointer;
}

